<!DOCTYPE html>
<html lang="en">

<script type="text/javascript">
function playlistSettingCheck() {
    if (document.getElementById('playlist_rb_new').checked) {
        document.getElementById('new_playlist').style.display = 'block';
        document.getElementById('existing_playlist').style.display = 'none';
    }
    else {
        document.getElementById('new_playlist').style.display = 'none';
        document.getElementById('existing_playlist').style.display = 'block';
    }
}
</script>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <title>Chat to Playlist</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='form.css')}}" />
    <link rel="icon" href="static/favicon.png">
    <meta name="description" content="Create a playlist from a chat" />
    <meta property="og:title" content="whatsapp2spotify" />
    <meta property="og:url" content="whatsapp2spotify.ginnold.berlin" />
    <meta property="og:description" content="Create a playlist from a chat" />
    <link rel="stylesheet" type="text/css" href="/server/static/style.css" />
    <link rel="stylesheet" type="text/css" href="/server/static/form.css" />
</head>

<body onload="playlistSettingCheck();">
    <h1>Welcome {{ display_name }}</h1>

    <form action="/chat-to-playlist" method="post" enctype="multipart/form-data">
        <div class="left">
            <h2>Select your chat export:</h2>
            <input type="file" id="chat_export" name="chat_export" />
            <br>
            <h2>Choose a playlist setting:</h2>
            <input type="radio" id="playlist_rb_new" name="playlist_rb" onclick="javascript:playlistSettingCheck();" value="NEW" checked/>
            <label for="playlist_rb_new">Create a new playlist</label><br><br>
            <input type="radio" id="playlist_rb_existing" name="playlist_rb" onclick="javascript:playlistSettingCheck();" value="EXISTING"/>
            <label for="playlist_rb_existing">Append to existing playlist</label><br><br>
            <div id="new_playlist">
                <label for="new_playlist_name">Playlist name:</label>
                <br>
                <input type="text" id="new_playlist_name" name="new_playlist_name" >
            </div>
            <div id="existing_playlist">
                <label for="playlist_existing">Choose your playlist:</label>
                <br>
                <select id="playlist_existing" name="playlist_existing">
                {% for playlist in playlists %}
                    <option value="{{ playlist['id'] }}"> {{ playlist['name'] }} </option>"
                {% endfor %}
                </select>
            </div>


        </div>
        <input type="submit" value="Let's go">
    </form>



</body>

</html>